<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">

    <Properties>
        <Property name="format1">%d{yyyy-MM-dd HH:mm:ss,SSS} %-3p-[%t] %m%n</Property>
        <Property name="logfile">./log/log.log</Property>
        <Property name="logfile-archive">./log/log_%d{yyyy-MM-dd}-%i.gz</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="logfile001" append="true" fileName="${logfile}"
                     filePattern="${logfile-archive}">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1KB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="logfile001"/>
        </Root>
    </Loggers>
</Configuration>