name: Qodana

# QodanaがGradle 9 + Java 25ツールチェーンに対応するまで無効化
# 参照: https://youtrack.jetbrains.com/issue/IDEA-379314
# 参照: https://youtrack.jetbrains.com/issue/QD-4936
on:
  workflow_dispatch:
  # pull_request:
  # push:
  #   branches:
  #     - main
  #     - 'releases/*'

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.3
        with:
          args: -e,JAVA_HOME=/root/.jdks/jdk,--clear-cache
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
