# Checkとビルド可能かコードを検証
name: Verification

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  verification:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout # チェックアウト
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup JDK # JDKセットアップ
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '25'

      - name: Setup Gradle # Gradleセットアップ
        uses: gradle/actions/setup-gradle@v4

      - name: Build # ビルド
        shell: bash
        run: |
          chmod +x gradlew
          chmod -R +X gradle
          ./gradlew build --stacktrace
